name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-test-lint-typecheck-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: "16.8"
      - run: npm install
      - run: npm run build
      - run: npm run test
      - run: npm run lint
      - run: npm run typecheck
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          start: npm start
